<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <div class="chat-list weflea-backColor">
            <div class="chat-item" th:each="room : ${list}">
                <img src="https://via.placeholder.com/50" alt="User" />
                <div class="chat-info">
                    <div class="chat-name" th:text="${#strings.equals(room.sender.nickname, myNickname) ? room.receiver.nickname : room.sender.nickname}"></div>
                    <a class="chat-preview" th:href="@{/chat/room(roomId=${room.roomId})}" th:text="${room.lastMessage}"></a>
                    <div class="chat-time">2 hours ago</div>
                </div>
                <div class="chat-unread">2</div>
            </div>
        </div>
    </th:block>
</th:block>


</html>