<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <!-- 폰트어썸 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- 아이콘 목록 : https://fontawesome.com/search?o=r&m=free -->

    <!-- 공통 JS 불러오기 -->
    <script src="/resource/common.js"></script>
    <!-- 공통 CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/common.css">

    <!-- 채팅방 CSS -->
    <link href="/starboot/css/chatStyle.css" rel="stylesheet" />
    <link href="/starboot/css/style.css" rel="stylesheet">
    <link href="/starboot/css/styles.css" rel="stylesheet">

  
    <!-- Bootstrap core JavaScript -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">위플리</title>

    <script>
        // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)
        const params = JSON.parse('[( ${@rq.paramsJsonStr} )]');
    </script>
</head>

<body>

<!-- 데이지 UI 불러오기 -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
<!-- 테일윈드 불러오기 -->
<script src="https://cdn.tailwindcss.com"></script>

<div class="d-flex flex-column">
    <header class="navbar" layout:fragment="header">
        <div class="navbar__logo">
            <a href="/">WeFlea</a>
        </div>

        <form class="search-form" th:action="@{/user/search/all(keyword=${keyword})}" method="get">
            <input type="text" placeholder="중고장터통합검색" name="keyword">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>


        <ul class="navbar__menu">
            <li><a href="/user/weflea/list">위플리장터</a></li>
            <li><a href="/user/search/all">통합검색</a></li>
            <li><a href="/chat/rooms">채팅</a></li>
            <li><a href="/user/wish/list">찜 목록</a></li>
            <li th:if="${@rq.logout}"><a href="/user/member/login">로그인</a></li>
            <li th:if="${@rq.login}">
                <a href="javascript:" onclick="$(this).next().submit();">로그아웃</a>
                <form class="!hidden" hidden th:action="|/user/member/logout|" method="POST"></form>
            </li>

            <li><a href="/user/member/me">마이페이지</a></li>
        </ul>
    </header><br>

    <div layout:fragment="content"></div>
</div>

<script th:inline="javascript">
    if (params.msg) {
        toastNotice(params.msg[0]);
    }

    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }

    // history.back 에 의해서 돌아온 경우에 실행됨
    // 평소에도 실행됨
    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;

        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        } else {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";

            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            }
        }
    });

    // toastr 라이브러리 사용하는 부분 스타일 변경
    $(document).ready(function () {
        // 배경색 변경
        $('.toast').css('background-color', '#82B3ED');

        // 폰트 색상 변경
        $('.toast').css('color', '#FFFFFF');
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
        integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M"
        crossorigin="anonymous">
</script>

</body>
</html>