<html layout:decorate="~{user/layout/layout.html}" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/starboot/css/searchList.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>찜 목록</title>
</head>
<body>

<div id="body">
    <h1 class="top_title pb-4 border-bottom">찜 목록</h1>
    <div class="item_row">
        <div th:each="wish : ${wishList}" class="item" data-index="${status.index}">
            <a  th:href="|/user/weflea/detail/${wish.goods.id}|">
                <div th:if="${wish.goods.goodsImages.size()==0}">
                    <img src="/images/noimg.png" alt="Default Profile Image" style="border-radius: 12px; width:150px">
                </div>
                <div th:if="${wish.goods.goodsImages.size()>=1}">
                    <img th:src="@{|/user/weflea/goodsImage/${wish.goods.id}|}" style="border-radius: 12px; width:200px">
                </div>
                <div class="flex " style="width: 200px">
                    <div style="border-radius: 12px; width:200px">
                        <h2 class="item_name" th:text="${wish.goods.title}"></h2>
                        <h2 class="item_price" data-th-text="${#numbers.formatInteger(wish.goods.price, 3, 'COMMA') + '원'}"></h2>
                        <h1 class="item_place" th:text="${wish.goods.area}"></h1>
                        <div class="item_info">
                            <h1 class="item_sellDate" th:text="${#temporals.format(wish.goods.createDate, 'MM-dd HH:mm')}"></h1>
                        </div>
                    </div>
                    <form class="item_place" th:action="@{/user/wish/delete/{wishId}(wishId=${wish.id})}" method="post">
                        <input type="hidden" name="_method" value="post">
                        <button type="submit" class="btn" onclick="return confirm('해당 상품의 찜을 해제하겠습니까?')">찜 삭제</button>
                    </form>
                </div>

            </a>

        </div>
    </div>
</div>

<script>
    function submitForm(event) {
        event.preventDefault(); // 기본 제출 이벤트 막기

        // 입력된 값 가져오기
        const search_input = document.getElementsByClassName("search_input")[0].value;
        // 입력된 값 출력
        alert(`검색어: ${search_input}`);
    }
</script>
</body>