<html layout:decorate="~{user/layout/layout.html}" />
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/starboot/css/searchList.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>통합검색목록</title>
</head>
<body>
<div id="body">
  <div>
    <div class="content_5">
      <div class="keyword_wrap">
        <button class="keyword_title">중고거래 인기검색어</button>
      </div>
      <div class="keyword_wrap">
        <div class="keyword_wrap_row">
          <!-- 검색어 목록 출력 -->
          <a th:each="keyword : ${keywords}" th:href="@{/user/search/all(keyword=${keyword.name})}">
            <button class="keyword" th:text="${keyword.name}"></button>
          </a>
        </div>
      </div>
      <hr style="color:#495057">
    </div>
    <form class="search-bar mt-3" th:action="@{/user/search/all(keyword=${keyword})}" method="get">
      <input type="text" name="keyword" class="search-input" placeholder="중고장터 통합 검색">
      <button class="search-button">검색</button>
    </form>

    <h1 class="top_title" th:text="|${keyword != null ? keyword : '중고거래 최신'} 검색 결과|"></h1>

    <div class="content_4_wrap">
      <form class="flex flex-row gap-1 flex-nowrap m-auto justify-content-center" style="max-width: 400px">
        <input type="hidden" name="keyword" th:value="${keyword}">
        <div class="form-control-sm">
          <select name="provider" class="select select-bordered select-small"
                  onchange="$(this).closest('form').submit();">
            <option value="">전체</option>
            <option value="당근마켓">당근마켓</option>
            <option value="번개장터">번개장터</option>
            <option value="중고나라">중고나라</option>
            <option value="헬로마켓">헬로마켓</option>
          </select>
          <script>
            if (params.provider) {
              $(`select[name="provider"]:last`).val(params.provider[0]);
            }
          </script>
        </div>

        <div class="form-control-sm">
          <select name="sortCode" class="select select-bordered select-small"
                  onchange="$(this).closest('form').submit();">
            <option value="1">최신순</option>
            <option value="2">가격 높은 순</option>
            <option value="3">가격 낮은 순</option>
          </select>
          <script>
            if (params.sortCode) {
              $(`select[name="sortCode"]:last`).val(params.sortCode[0]);
            }
          </script>
        </div>
      </form>
      <div class="item_row">
        <div th:each="search, status : ${searchList}" class="item" data-index="${status.index}">
          <a th:href="${search.link}">
            <img th:src="${search.imageLink}" style="border-radius: 12px; width:200px">
            <div style="border-radius: 12px; width:200px">
              <h2 class="item_name" th:text="${search.title}"></h2>
              <h2 class="item_price" data-th-text="${search.price &lt;= 0 ? '나눔 or 연략요망' : #numbers.formatInteger(search.price, 3, 'COMMA') + '원'}"></h2>
              <h2 class="item_cost" th:text="${search.id}"></h2>
              <h2 class="item_cost" th:text="${search.id}"></h2>
              <h1 class="item_place" th:text="${search.area}"></h1>
              <div class="item_info">
                <h1 class="item_provider" th:text="${search.provider}"></h1>
                <h1 class="item_sellDate" th:text="${#temporals.format(search.sellDate, 'MM-dd HH:mm')}"></h1>
              </div>
            </div>

          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">
  let isFetching = false;
  const itemRow = document.querySelector('.item_row');

  const drawSearchList = (searchList) => {
    searchList.forEach((search, index) => {
      const { link, imageLink, title, price, id, area, provider, sellDate } = search;
      const newItem = document.createElement('div');
      const sellDateValue = new Date(sellDate); // 판매 일시
      const formattedSellDate = sellDateValue.toLocaleString('en-US', {
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        hour12: false,
      });
      newItem.classList.add('item');
      newItem.dataset.index = index;
      newItem.innerHTML = `
            <a href="${link}">
                <img src="${imageLink}" style="border-radius: 12px; width:200px">
                <div style="border-radius: 12px; width:200px">
                  <h2 class="item_name">${title}</h2>
                  <h2 class="item_price">${price.toLocaleString()}원</h2>
                  <h2 class="item_cost">${id}</h2>
                  <h1 class="item_place">${area}</h1>
                  <div class="item_info">
                    <h1 class="item_provider">${provider}</h1>
                    <h1 class="item_sellDate">${formattedSellDate}</h1>
                  </div>
                </div>
            </a>
        `;
      itemRow.appendChild(newItem);
    });
    isFetching = false;
  };

  const loadMoreItems = () => {
    isFetching = true
    const items = document.querySelectorAll('.item_row .item');
    const lastItem = items[items.length - 1];
    const lastSearchId = lastItem.querySelector('.item_cost').textContent || null;
    const keyword = [[${keyword}]];
    const provider = document.querySelector('select[name="provider"]').value;
    const sortCode = document.querySelector('select[name="sortCode"]').value;
    const currentPage = Math.ceil((items.length) / 12); // 현재 페이지 계산

    const url = `/user/search/all/${currentPage}` + (keyword ? `?keyword=${keyword}` : `?keyword=`) + (provider ? `&provider=${provider}` : `&provider=`) + (sortCode ? `&sortCode=${sortCode}` : `&sortCode=`);



    fetch(url)
            .then(response => response.json())
            .then(data => {
              const searchList = data.searchList;
              drawSearchList(searchList);
            });
  };

  window.addEventListener('scroll', handleScroll);

  function handleScroll() {
    const SCROLLED_HEIGHT = window.scrollY;
    const WINDOW_HEIGHT = window.innerHeight;
    const DOC_TOTAL_HEIGHT = document.body.offsetHeight;
    const IS_END = (WINDOW_HEIGHT + SCROLLED_HEIGHT >= DOC_TOTAL_HEIGHT);

    // 스크롤이 맨 아래에 도달했을 때 추가 데이터를 불러옵니다.
    if (IS_END && !isFetching) {
      loadMoreItems();
    }
  }
</script>


</body>
</html>