<html layout:decorate="~{user/layout/layout.html}" />
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/starboot/css/searchList.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>통합검색목록</title>
</head>
<body>
<div id="body">
  <div>
    <div class="content_5">
      <div class="keyword_wrap">
        <button class="keyword_title">중고거래 인기검색어</button>
      </div>
      <div class="keyword_wrap">
        <div class="keyword_wrap_row">
          <!-- 검색어 목록 출력 -->
          <a th:each="keyword : ${keywords}" th:href="@{/user/search(keyword=${keyword})}">
            <button class="keyword" th:text="${keyword}"></button>
          </a>
        </div>
      </div>
      <hr style="color:#495057">
    </div>

    <h1 class="top_title">중고거래 최신매물</h1>
    <div class="content_4_wrap">
      <div class="item_row">
        <div th:each="search, status : ${searchList}" class="item" data-index="${status.index}">
          <a th:href="${search.link}">
            <img th:src="${search.imageLink}" style="border-radius: 12px; width:200px">
            <h2 class="item_name" th:text="${search.title}"></h2>
            <h2 class="item_price" th:text="${search.price}"></h2>
            <h2 class="item_cost" th:text="${search.id}"></h2>
            <h1 class="item_place" th:text="${search.area}"></h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">
  const itemRow = document.querySelector('.item_row');

  const drawSearchList = (searchList) => {
    searchList.forEach((search, index) => {
      const { link, imageLink, title, price, id, area } = search;
      const newItem = document.createElement('div');
      newItem.classList.add('item');
      newItem.dataset.index = index;
      newItem.innerHTML = `
            <a href="${link}">
                <img src="${imageLink}" style="border-radius: 12px; width:200px">
                <h2 class="item_name">${title}</h2>
                <h2 class="item_price">${price}</h2>
                <h2 class="item_cost">${id}</h2>
                <h1 class="item_place">${area}</h1>
            </a>
        `;
      itemRow.appendChild(newItem);
    });
  };

  const loadMoreItems = () => {
    const items = document.querySelectorAll('.item_row .item');
    const lastItem = items[items.length - 1];
    const lastSearchId = lastItem.querySelector('.item_cost').textContent || null;

    fetch(`/user/search/all/${lastSearchId}`)
            .then(response => response.json())
            .then(data => {
              const searchList = data.searchList;
              drawSearchList(searchList);
            });
  };

  window.addEventListener('scroll', handleScroll);

  function handleScroll() {
    const scrollHeight = document.documentElement.scrollHeight;
    const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
    const clientHeight = document.documentElement.clientHeight;

    // 스크롤이 맨 아래에 도달했을 때 추가 데이터를 불러옵니다.
    if (scrollTop + clientHeight >= scrollHeight) {
      loadMoreItems();
    }
  }
</script>

<!--<script>-->
<!--  // 스크롤 이벤트 리스너 추가-->
<!--  window.addEventListener('scroll', handleScroll);-->

<!--  function handleScroll() {-->
<!--    const scrollHeight = document.documentElement.scrollHeight;-->
<!--    const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;-->
<!--    const clientHeight = document.documentElement.clientHeight;-->

<!--    // 스크롤이 맨 아래에 도달했을 때 추가 데이터를 불러옵니다.-->
<!--    if (scrollTop + clientHeight >= scrollHeight) {-->
<!--      loadMoreItems();-->
<!--    }-->
<!--  }-->

<!--  function loadMoreItems() {-->
<!--    const items = document.querySelectorAll('.item_row .item');-->
<!--    const lastItem = items[items.length - 1];-->
<!--    const lastSearchId = lastItem.querySelector('.item_cost').textContent || null;-->

<!--    fetch(`/user/search/all?lastSearchId=${lastSearchId}`)-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--              const itemRow = document.querySelector('.item_row');-->
<!--              data.forEach(item => {-->
<!--                const newItem = document.createElement('div');-->
<!--                newItem.classList.add('item');-->
<!--                newItem.dataset.index = item.id;-->
<!--                newItem.innerHTML = `-->
<!--            <a th:href="${search.link}">-->
<!--            <img th:src="${search.imageLink}" style="border-radius: 12px; width:200px">-->
<!--            <h2 class="item_name" th:text="${search.title}"></h2>-->
<!--            <h2 class="item_price" th:text="${search.price}"></h2>-->
<!--            <h2 class="item_cost" th:text="${search.id}"></h2>-->
<!--            <h1 class="item_place" th:text="${search.area}"></h1>-->
<!--          </a>-->
<!--          `;-->
<!--                itemRow.appendChild(newItem);-->
<!--              });-->
<!--            });-->
<!--  }-->

<!--  // 페이지 로드 시 초기 데이터 로딩-->
<!--  loadMoreItems();-->
<!--</script>-->

</body>
</html>