<html layout:decorate="~{user/layout/layout.html}"/>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/starboot/css/searchList.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>

<body>

    <div id="body">
        <div class="body_content_1">
            <div class="body_wrap">
                <h2 class="big ml-5">빠르고 쉬운 검색 <br>위플리</h2>
                <p class="small ml-5">중고장터 일일이 검색하기 귀찮지 않으세요??<br>통합 검색에서 빠르게 검색해보세요!</p>
            </div>
            <div class="body_wrap">
                <img class="image_1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1d--x59QdvtuDqRNGtTZrdjZ6eF8XIg_DTQ&usqp=CAU" width="400" height="auto"
                style="border-radius: 40%">
            </div>
        </div>
        <div class="body_content_2">

            <div class="body_wrap">
                <img src="/images/main_welfea.png" width="500" height="auto" style="margin-top: 150px">
            </div>
            <div class="body_wrap">
                <h2 class="medium">위플리 장터 <br>중고 상품을 거래하세요</h2>
                <p class="small">위플리 자체 장터 시스템을 이용해보세요</p>
                <a th:href="@{/user/weflea/list}">
                    <button class="gray_button mt-2">위플리 장터 이동하기</button>
                </a>
            </div>
        </div>
    </div>

</body>

