<html layout:decorate="~{user/layout/layout.html}" />

<head>
    <title>로그인</title>
</head>

<body>

<div class="flex justify-center items-center h-screen">
    <div id="login-container" class="max-w-2xl w-full px-4">
        <!-- 서비스 이미지와 이름 -->
        <div class="service mb-5">
            <h2 class="service-name">위플리 로그인</h2>
        </div>

        <!-- 카카오 로그인 버튼 -->
        <a id="social-outline" href="/oauth2/authorization/kakao" class="btn btn-block btn-outline gap-1">
            <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
            <span>카카오 로그인</span>
        </a>

        <!-- 네이버 로그인 버튼 -->
        <a id="social-outline2" href="/oauth2/authorization/naver" class="btn btn-block btn-outline gap-1">
            <i class="fa-solid fa-n text-[color:#2DB400]"></i>
            <span>네이버 로그인</span>
        </a>
    </div>
</div>
</body>