<!--
<html layout:decorate="~{user/layout/layout.html}" />

<head>
    <title>프로필사진 수정</title>
</head>

<body>

&lt;!&ndash;사진업로드 Form&ndash;&gt;
<form class="upload-form" action="/image" method="POST" enctype="multipart/form-data">
    <input  type="file" name="file"  onchange="imageChoose(this)"/>
    <div class="upload-img">
        <img src="/images/person.jpeg" alt="" id="imageUploadPreview" />
    </div>

    &lt;!&ndash;사진설명 + 업로드버튼&ndash;&gt;
    <div class="upload-form-detail">
        <input type="text" placeholder="사진설명" name="caption">
        <button class="cta blue">업로드</button>
    </div>
    &lt;!&ndash;사진설명end&ndash;&gt;

</form>
&lt;!&ndash;사진업로드 Form&ndash;&gt;

</body>-->
