.chat-list {
    width: 300px;
    margin: 0 auto;
}

.messages {
    list-style-type: none;
    padding: 0;
}

.message {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.message-sender {
    font-weight: bold;
    color: #333;
}

.message-content {
    margin-top: 5px;
    color: #666;
}