<html layout:decorate="~{common/layout.html}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>상품 등록 폼</title>
</head>
<body layout:fragment="content">
<!--<h1>상품 등록</h1>-->
<form th:object="${createForm}" th:action="@{/user/weflea/create}" method="POST" enctype="multipart/form-data"
      style="margin: 10px 40px;">
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력해 주세요."
               th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
        <p style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

    </div>
    <div class="mb-3">
        <label for="description">내용</label>
        <textarea class="form-control" rows="5" id="description" name="description" placeholder="내용 입력해 주세요."
                  th:class="${#fields.hasErrors('description')}? 'form-control fieldError' : 'form-control'"></textarea>
        <p style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
    </div>

    <label for="price">상품 가격</label>
    <input type="number" class="form-control" style="width: 30%;" id="price" name="price" placeholder="\ 가격"
           th:class="${#fields.hasErrors('price')}? 'form-control fieldError' : 'form-control'">
    <p style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
    <br><br>

    <label for="area">지역</label>
    <input type="text" class="form-control" style="width: 30%;" id="area" th:field="*{area}"><br><br>

    <label for="status">상태</label>
    <input type="text" class="form-control" style="width: 30%;" id="status" th:field="*{status}" readonly><br><br>

    <label>안전결제</label>
    <div>
        <label>
            <input type="radio" id="secureTrue" name="securePayment" value="on" th:checked="${createForm.securePayment}"> 허용
        </label>
        <label>
            <input type="radio" id="secureFalse" name="securePayment" value="off" th:checked="${!createForm.securePayment}"> 허용 안함
        </label>
    </div><br><br>

    <label for="images">이미지 업로드</label><br>
    <input type="file" id="images" name="images" multiple><br><br>

    <button type="submit" onclick="showSuccessMessage()"
            style="background-color: aliceblue; font-size: 1.2em; padding: 10px 20px; border-radius: 10px;">저장
    </button>

</form>
<!--<button onclick="location.href='/user/weflea/list'"
        style="background-color: aliceblue; font-size: 1.2em; padding: 10px 20px; border-radius: 10px">목록
</button>-->

<script>
    function showSuccessMessage() {
        toastNotice("입력하신 상품이 등록되었습니다.")
    }
</script>

<script>
    var cnt = 1;

    function fn_addFile() {
        $("#d_file").append("<br>" + "<input type='file' name='file" + cnt + "' />");
        cnt++;
    }
</script>

</body>
</html>
